.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
  font-size: 3rem;
  font-weight: bold;
    color: blueviolet;
  background-color: rgb(201, 173, 132);
}